
<div class="container"> <!-- CONTAINER -->
  <nav class="nav"> <!-- NAV -->
    <ul class="nav-menu">
      <li class="nav-list" [class.active]="currentSection === 'home'" (click)="scrollToSection('home')"><a class="nav-link">Home</a></li>
      <li class="nav-list" [class.active]="currentSection === 'hello'" (click)="scrollToSection('hello')"><a class="nav-link">Hello</a></li>
      <li class="nav-list" [class.active]="currentSection === 'services'" (click)="scrollToSection('services')"><a class="nav-link">Services</a></li>
      <li class="nav-list" [class.active]="currentSection === 'portfolio'" (click)="scrollToSection('portfolio')"><a class="nav-link">Portfolio</a></li>
      <li class="nav-list" [class.active]="currentSection === 'contact'" (click)="scrollToSection('contact')"><a class="nav-link">Contact</a></li>
    </ul>
  </nav>

  <main class="main"> <!-- MAIN -->
    <div>
      <section class="main-text-img"
      id="home">
        <h1 class="title">synertech</h1>
        <h2 class="subtitle">let` s make something</h2>
        <h2 class="subtitle"> 
          <img height="925" class="icon-black-circle" src="../assets/black-circle.png" alt="Black-circle">
          <span class="great-subtitle">great</span> together
        </h2>
        <img class="logo-img" src="../assets/logo.png" alt="Logo">
      </section>
      <div class="main-text-btn-get-started">
        <p class="main-text-building">Building Up Communities, Careers & <br> Enterprises Worldwide</p>
        <button class="button-get-started" (click)="scrollToSection('contact')">get started</button>
      </div>
      <section id="hello" class="block-phones">
        <img class="phones-img" src="../assets/main-phone-photo.png" alt="Phones">
      </section>
      <section class="about-us-section">
        <script src="../scroll down text/scroll-down-text.js"></script>
        <div class="about-us">
          <div class="ideas-ignite-block">Ideas Ignite</div>
          <div class="black-circle"></div>
          <div class="creativity-block">Creativity</div>
          <div class="takes-flight-fueling-innovation-block">Takes Flight. Fueling Innovation,</div>
          <div class="crafting-dreams">Crafting Dreams.</div>
          <div class="where-thoughts-soar">Where Thoughts Soar,</div>
          <div class="while-block-first"></div>
          <div class="and-imagination-creates">and Imagination Creates -</div>
          <div class="limitless-horizons">Limitless Horizons. </div>
          <div class="while-block-second"></div>
          <div class="unleash-your-potential">Unleash Your Potential with Us.</div>
        </div>
      </section>
      <!-- SERVICES -->
      <section id="services" class="services-section">
        <h2 class="services-title">Services</h2>
        <div class="services-cards-list">
          <div class="services-card">
            <span class="title-cards">dEVELOPMENT</span>
            <div class="engineering-list">
              <span class="engineering-specialty">Front End</span>
              <span class="engineering-specialty">Back End</span>
              <span class="engineering-specialty">Mobile App</span>
            </div>
            <img class="cards-img" src="../assets/cards/spring.png.png" alt="spring">
            <button class="button-get-started-card button-get-started-card-development hover-btn-card" (click)="scrollToSection('contact')"><span class="button-get-started-card-text">get started</span>
              <img class="arrow" src="../assets/arrow-right.png" alt="">
            </button>
          </div>
          <div class="services-card">
            <span class="title-cards">design</span>
            <div class="engineering-list">
              <span class="engineering-specialty">Creative</span>
              <span class="engineering-specialty">Brand</span>
              <span class="engineering-specialty">UI/UX</span>
            </div>
            <img class="cards-img-figure" src="../assets/cards/figure.png.png" alt="figure">
            <button class="button-get-started-card-design button-get-started-card hover-btn-card" (click)="scrollToSection('contact')"><span class="button-get-started-card-text">get started</span>
              <img class="arrow" src="../assets/arrow-right.png" alt="">
            </button>
          </div>
          <div class="services-card">
            <span class="title-cards">marketing</span>
            <div class="engineering-list">
              <span class="engineering-specialty">SMM</span>
              <span class="engineering-specialty">Email Marketing</span>
              <span class="engineering-specialty">Target</span>
            </div>
            <img class="cards-img-snail" src="../assets/cards/snail.png" alt="snail">
            <button class="button-get-started-card snail-btn hover-btn-card" (click)="scrollToSection('contact')"><span class="button-get-started-card-text">get started</span>
              <img class="arrow" src="../assets/arrow-right.png" alt="">
            </button>
          </div>
        </div>
      </section>
      <!-- MATTER -->
      <section id="matter" class="matter-section">
        <div class="matter-container">
          <div id="matterCanvasContainer" class="matter">
            <canvas id="matterCanvas"></canvas>
            <div class="background-1 draggable" id="body1">web design</div>
            <div class="background-2 draggable" id="body2">creativity</div>
            <div class="background-1 draggable" id="body3">experience</div>
            <div class="background-2 draggable" id="body4">mobile app</div>
            <div class="background-1 draggable" id="body5">smm</div>
            <div class="background-2 draggable" id="body6">brands</div>
            <div class="background-1 draggable" id="body7">front-end</div>
            <div class="background-2 draggable" id="body8">animation</div>
            <div class="background-1 draggable" id="body9">figma</div>
        </div> 
        </div>
      </section>
      <!-- PORTFOLIO -->
      <section id="portfolio" class="portfolio-section">
        <div class="portfolio">
          <h2 class="portfolio-title">Portfolio</h2>
          <swiper
          class="swiper"
            [slidesPerView]="3"
            [spaceBetween]="40"
            [pagination]="{ clickable: true }"
            (swiper)="onSwiper($event)"
            [config]="swiperConfig"
            (swiperDragMove)="onSwiperDragMove()"
          >
            <ng-template swiperSlide>
              <div class="swiper-slide"><img class="portfolio-card" src="../assets/portfolio/card-two-portfolio-photos.png" alt="card-two-portfolio-photos"></div>
            </ng-template>
            <ng-template swiperSlide>
              <div class="swiper-slide"><img class="portfolio-card" src="../assets/portfolio/card-two-portfolio-cards.png" alt="card-two-portfolio-cards"></div>
            </ng-template>
            <ng-template swiperSlide>
              <div class="swiper-slide"><img class="portfolio-card" src="../assets/portfolio/card-two-portfolio-phons.png" alt="card-two-portfolio-phons"></div>
            </ng-template>
            <ng-template swiperSlide>
              <div class="swiper-slide"><img class="portfolio-card" src="../assets/portfolio/card-two-portfolio-phons.png" alt="card-two-portfolio-phons"></div>
            </ng-template>
            <ng-template swiperSlide>
              <div class="swiper-slide"><img class="portfolio-card" src="../assets/portfolio/card-two-portfolio-phons.png" alt="card-two-portfolio-phons"></div>
            </ng-template>
          </swiper>
        </div>
        <!-- Navigation rectangles -->
        <div class="navigation">
          <div
            id="rect1"
            class="rectangle"
            (click)="goToSlide(0)"
            [ngClass]="{'active': activeSlideIndex === 0}"
          ></div>
          <div
            id="rect2"
            class="rectangle"
            (click)="goToSlide(1)"
            [ngClass]="{'active': activeSlideIndex === 1}"
          ></div>
          <div
            id="rect3"
            class="rectangle"
            (click)="goToSlide(2)"
            [ngClass]="{'active': activeSlideIndex === 2}"
          ></div>
        </div>
      </section>
      <section id="contact" class="connect-section">
        <div class="connect">
          <h2 class="title-connect">connect</h2>
          <div class="connect-btn">
            <div class="animated-arrow">
              <img src="../assets/arrow-down-while.png.png" alt="arrow-down-while">
            </div>
            <p class="get-title">get started</p>
            <div class="animated-arrow">
              <img src="../assets/arrow-down-while.png.png" alt="arrow-down-while">
            </div>
          </div>          
          <div class="connect-text-interest">
            <p class="text-interest">What interests you?</p>
          </div>
          <div class="list-click-block">
            <div (click)="toggleForm()" class="img-click-block development-block">
              <img class="img-click-img" src="../assets/connect/development.png" alt="">
              <p class="img-click-text">development</p>
            </div>
            <div (click)="toggleForm()" class="img-click-block design-block">
              <img class="img-click-img" src="../assets/connect/development.png" alt="">
              <p class="img-click-text">design</p>
            </div>
            <div (click)="toggleForm()" class="img-click-block marketing-block">
              <img class="img-click-img" src="../assets/connect/development.png" alt="">
              <p class="img-click-text">marketing</p>
            </div>
          </div>
          <div class="form-section">
            <div class="form-block">
            </div>
          </div>
          <div class="get-started">
            <p class="get-started-text">( Get started )</p>
          </div>
          <div class="footer-block-get-started">
            <div class="footer-text-email">
              <p class="footer-text">Building Up Communities, Careers & Enterprises Worldwide</p>
              <div class="footer-link-block">
                <a target="_blank" class="footer-link" href="mailto:synertech&#64;gmail.com">synertech&#64;gmail.com</a>
                <a target="_blank" class="footer-link" href="https://www.instagram.com/syner.tech?igsh=MXFvZGNrZXRnaTgzZA%3D%3D">Instagram</a>
                <a target="_blank" class="footer-link" href="https://www.facebook.com/profile.php?id=61555554420833">Facebook</a>
              </div>
            </div>
            <div>
              <div class="footer-get-started-block-button">
                <p class="footer-get-started-text">get started</p>
                <button class="footer-button-get-started" (click)="scrollToTop()">
                  <img width="52" height="44" src="../assets/arrow-top-right.png" alt="">
                </button>              
              </div>
            </div>
            <div class="footer-reserved-privacy">
              <a target="_blank" href="#" class="footer-reserved">2024&#64; all rights reserved</a>
              <a target="_blank" href="#" class="footer-privacy">Privacy Policy</a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
</div>

<form action="" class="form" [ngClass]="{'is-open': isOpen}">
  <div class="form-menu">
    <div class="form-menu-header">
      <p class="form-menu-title">synertech</p>
      <div (click)="toggleForm()">
        <img class="form-menu-x" src="../assets/connect/x.png" alt="">
      </div>
    </div>
    <p class="form-title">Let` s get started </p>
    <label class="form-label" for="">
      <p class="title-label">What interests you?</p>
      <input placeholder="Type your text" class="what-interests-you-input" type="text">
    </label>
    <label class="form-label" for="">
      <p class="title-label">What`s your industry?</p>
      <input placeholder="Type your text" class="what-s-your-ndustry-input" type="text">
    </label>
    <label class="form-label" for="">
      <p class="title-label">What`s your budget?</p>
      <select class="select-form" name="pay-people">
        <option class="option-select" value="Choose">Choose</option>
        <option class="option-select" value="from-500">From 500</option>
        <option class="option-select" value="from-1000">From 1000</option>
      </select>
    </label>
    
    <label class="form-label" for="">
      <p class="title-label">Your info</p>
      <input placeholder="Type your text" class="your-info-input" type="text">
    </label>
    <button class="form-button-send" type="submit">Send</button>
  </div>
</form>
