<form (ngSubmit)="registerUser($event)" class="form" [ngClass]="{'is-open': isOpen}">
  <div class="form-menu">
    <div class="form-menu-header">
      <p class="form-menu-title">synertech</p>
      <div (click)="toggleForm()">
        <img class="form-menu-x" src="../assets/connect/x.png" alt="">
      </div>
    </div>
    <p class="form-title">Let's get started</p>
    <label class="form-label" for="username">
      <p class="title-label">Your name</p>
      <input id="username" placeholder="Your name" class="what-interests-you-input input-form" type="text" [(ngModel)]="username" name="username" required>
    </label>
    <label class="form-label" for="email">
      <p class="title-label">Your email</p>
      <input id="email" placeholder="Your email" class="what-s-your-ndustry-input input-form" type="email" [(ngModel)]="email" name="email" required>
    </label>
    <label class="form-label select" for="budget">
      <p class="title-label">What's your budget?</p>
      <select id="budget" class="select-form" name="budget" [(ngModel)]="select" required>
        <option value="from-500">From 500$</option>
        <option value="from-1000">From 1000$</option>
      </select>
    </label>
    <label class="form-label your-info-input" for="project">
      <p class="title-label">Your project is about</p>
      <textarea id="project" placeholder="Your project is about" class="input-form textarea-form" [(ngModel)]="project" name="project" required></textarea>
    </label>
    <button class="form-button-send" type="submit">Send</button>
  </div>
</form>
